@page
@model proyecto_integrador.Pages.CalendarioModel
@{
    ViewData["Title"] = "Calendario";
}

<h1>Editar Datos Básicos</h1>

<form method="post">
    <div class="form-group">
        <label for="Nombre">Nombre</label>
        <input asp-for="Usuario.Nombre" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label for="Documento">Documento</label>
        <input type="number" asp-for="Usuario.Documento" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label for="Celular">Número de Celular</label>
        <input type="number" asp-for="Usuario.Celular" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Correo">Correo Electrónico</label>
        <input type="email" asp-for="Usuario.Correo" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Direccion">Dirección</label>
        <input asp-for="Usuario.Direccion" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Ciudad">Ciudad</label>
        <input asp-for="Usuario.Ciudad" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
</form>