@page
@model proyecto_integrador.Pages.ReservarCitaModel
@{
    ViewData["Title"] = "Reservar Cita";
}

<h1>Reservar Cita</h1>
<p>@Model.Mensaje</p>

<form method="post">
    <button type="submit" class="btn btn-success">Confirmar</button>
    <a asp-page="Calendario" asp-route-documento="@Model.Documento" class="btn btn-secondary">Cancelar</a>
</form>